# Python stuff
__pycache__/
app/__pycache__/
poetry.lock

## Tip of My Tongue stuff

# Dont check in the massive files :)
# - Embedding cache ~5gb
# - Vocab List - Pull it from online
res/*.pkl
res/*.txt

# Ignore Credentials
.env
config.env
.venv

.vscode/settings.json